.app-logo {
    width: 80px;
}

.app-name {
    color: darkolivegreen;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid darkseagreen
}

.nav-bar {
    display: flex;
    margin: 10px;
}

.nav-bar > li {
    padding: 10px;
    list-style-type: none;
}

.nav-bar > li:hover{
    background-color: darkseagreen;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.res-card {
    width: 200px;
    /* height:300px; */
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 25px;
}

.res-card:hover {
    border: 1px solid darkseagreen;
    background-color: darkseagreen;
    cursor: pointer;
}

.res-card > p {
    color: black;
    text-decoration: none;
}

.res-logo {
    width: 100%;
    height: 40%;
    border-radius: 25px;
}

.search {
    padding: 10px;;
}

.footer {
    padding: 10px;
} 

.shimmer-container{ 
    display: flex;
    flex-wrap: wrap;
}

.seeAll-btn {
    margin: 15px;
}

.shimmer-card{
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 25px;
}

.filter{
    padding: 0 15px;
    cursor: pointer;
}

.loginBtn{
    padding: 0 10px;
    cursor: pointer;
}

.search-panel{
    padding: 15px;
}

.search-btn{
    margin-left: 5px;
}

.search-input {
    margin: 15px;
}

.options-container {
    display: flex;
}


.menuItemCard{
    /* width: 200px; */
    padding: 10px;
}
.menuItemCard > li{
    padding: 15px;
    list-style-type: none;
    background-color: #f0f0f0;
}